%h2 Pirate Joke

%p  Pirate walks into a bar with a steering wheel half-in, half-out of his pants.

%p  Bartender says 
%blockquote "Hey Pirate, What's With The Steering Wheel?"


%p  Pirate says 
%blockquote "Arr, I dunno matey -- but it's drivin' me nuts!"
